* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}:root {
    --blue: #0282f9ff;
}:root {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: 1100px;
  margin: 0 auto;
  display: flex;
}

header .container {
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

header .container img {
  width: 100px;
  padding: 1em;
}

header .container ul {
  list-style: none;
}

header .container ul li {
  display: inline-block;
  margin: 1em;
}

header .container ul li a {
  line-height: calc(100px - 1em);
  font-size: 0.7rem;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: unset;
}

.active {
  color: #0282f9;
}

.active a {
  border-bottom: 1em solid #0282f9;
}

main {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
  padding-bottom: 1em;
}

main #jumbotron {
  height: 400px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-position-x: center;
}

main .container {
  position: relative;
  padding-top: 2.5em;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1em;
}

main #etichetta {
  background-color: var(--blue);
  font-size: 1.2rem;
  padding: 0.5em 1.5em;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
}

main button {
  border: none;
  background-color: var(--blue);
  padding: 0.7em;
  color: white;
  width: 150px;
  cursor: pointer;
}

